body {
  margin: 0;
  font-family: Arial, sans-serif;
  width: 50wh;
}

header {
  background-color: #f8f8f8;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-name {
  font-size: 55px;
  color: #ffcccc;
  margin-right: 10px;
  cursor: pointer;
}

.menu {
  display: flex;
  align-items: center;
}

.menu-item {
  margin: 0 10px;
  cursor: pointer;
}

.search {
  margin-right: auto;
}

.search input[type="text"] {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 200px;
}

.new-post {
  margin-left: auto;
}

.btn {
  padding: 8px 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}